APP_BROWSER="chrome"
APP_HEADLESS=True
APP_LANGUAGE="pt-br"
APP_SLEEP_TIME=5 # in minutes

# Credentials to access the ais.usvisa-info.com website
EMAIL=null    # required
PASSWORD=null # required

# Data that will be used to get the available dates/times to reschedule the appointment
SCHEDULE_ID=null                # required
CONSULATE_SCHEDULED_DATE=null   # required
CONSULATE_SCHEDULED_STATE=null  # required
BIOMETRICS_SCHEDULED_STATE=null # required

# Data that will be used to validate if a date is good or not to be used to reschedule the appointment
SCHEDULE_CONSULATE_DATE_FROM=null # Format: YYYY-MM-DD
SCHEDULE_CONSULATE_DATE_TO=null   # Format: YYYY-MM-DD
SCHEDULE_TIME_FROM=null           # Format: HH:MM
SCHEDULE_TIME_TO=null             # Format: HH:MM

# Credentials to send push notifications
PUSHOVER_ENABLED=false # true or false
PUSHOVER_URL="https://api.pushover.net/1/messages.json"
PUSHOVER_USER=null
PUSHOVER_TOKEN=null
